<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Signin Template for Bootstrap</title>
		<!-- Bootstrap core CSS -->
		<link th:href="@{/bootstrap.min.css}" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link th:href="@{/signin.css}" rel="stylesheet">
	</head>

	<body class="text-center">
		<form class="form-signin" th:action="@{/wd/stulogin}"   id="admin">
			<h1 class="h3 mb-3 font-weight-normal">学生登录</h1>
			<label class="sr-only">Username</label>
			<input type="text" class="form-control" value="张三" required="" autofocus="" name="name">
			<br>
			<label class="sr-only">Password</label>
			<input type="password" class="form-control" value="123" required="" name="pass">
			<br>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			<a class="btn btn-sm" id="change" th:href="@{/wd}">我是教师</a>
			<br>
			<span style="color: red;" th:text="${flag}"></span>
		</form>

	</body>

</html>