<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>增加数据</title>
</head>
<body>
<form th:action="@{/add}" method="post">
    <p>工号：<input name="t_number" type="text" placeholder="t_number"></p>
    <p>姓名：<input name="t_name" type="text" placeholder="t_name"></p>
    <p>类别：<input name="t_type" type="text" placeholder="t_type"></p>
    <p>理由：<input name="t_exalp" type="text" placeholder="t_exalp"></p>
    <p style="display: none">状态：<input name="t_approve" type="text" placeholder="t_approve" value="待审核"></p>
    <button type="submit">提交</button>
</form>

<ul>
    <li> <a href="/zgr/queryAllUser">queryAllUser</a> </li></br>
    <li> <a href="/zgr/addhtml">addhtml</a> </li></br>
    <li> <a href="/zgr/up_approve">up_approve</a> </li></br>
</ul>

</body>
</html>