<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pdlcloud.dao.teacherMapper">
    <!--  id是唯一限定名，在当前xml文件中不可重复 -->
    <select id="allteacher" resultType="pdlcloud.pojo.Teacher">
        SELECT * FROM teacher
    </select>

    <insert id="addTeacher" >
        insert into teacher values (#{tid},#{tname},#{tsex},#{tage},#{taddress});
    </insert>

    <delete id="delTeacher" parameterType="string">
        delete from teacher where tid=#{id}
    </delete>

    <select id="selectone" resultType="pdlcloud.pojo.Teacher">
        select * from teacher where tid=#{id}
    </select>

    <update id="updatetea">
        UPDATE teacher SET tname=#{tname},tsex=#{tsex},tage=#{tage},taddress=#{taddress} WHERE tid=#{tid}
    </update>
</mapper>

