<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.zgr.dao.UserMapper">
    <select id="queryUser"  resultType="com.example.zgr.model.User">
        select *  from  t_thing
    </select>
    <delete id="deleUser">
        delete from t_thing where id=#{id}
    </delete>
    <insert id="add" parameterType="com.example.zgr.model.User" >
        insert into t_thing(t_number,t_name,t_type,t_exalp,t_approve)
        values
        (#{t_number},#{t_name},#{t_type},#{t_exalp},#{t_approve})
    </insert>
    <select id="approve"  resultType="com.example.zgr.model.User">
        select *  from  t_thing where t_approve=#{t_approve1} or t_approve=#{t_approve2}
    </select>
    <update id="up_approve">
        update t_thing  set  t_approve=#{t_approve} where id =#{id}
    </update>
</mapper>